<nav class="navbar navbar-expand-lg fixed-top" style="background-color: #000000;">
	<a class="navbar-brand" href="/debut"><img src="/logo/nw_b_sur_n.svg" style="width: 120px"></a>
	<button class="navbar-toggler" style="background-color: white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav ml-auto mr-auto mt-2 mt-lg-0">
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Vêtements
				</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
					<p>
						<b>
							<u>
								Voir par produit</u>
						</b>
					</p>
					<a class="dropdown-item" href="/categories/t-shirt">T-shirts</a>
					<a class="dropdown-item" href="/categories/pantalon">Pantalons</a>
					<a class="dropdown-item" href="/categories/chaussettes">Chaussettes</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/register">Inscription</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/login">Connexion</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('cart') }}">Votre panier</a>
			</li>

		</ul>
		<form action="/search/resultat" class="form-inline my-2 my-lg-0" method="post">

			<input name="recherche" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
			<a href="/search/resultat" class="btn btn-outline-warning" type="submit">Search</a>

		</form>
	</div>
</nav>
