{% extends 'base.html.twig' %}

{% block title %}Nouvel article
{% endblock %}

{% block body %}
	<h1>Crée un nouvel article</h1>

	{{ include('article/form.html.twig') }}

	<a href="{{ path('accueil') }}">Accueil</a>
{% endblock %}

